@font-face {
    font-family: neu;
    src: url(/NeueHaasDisplayMediu.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}
nav{
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-1{
    display: flex;
    gap: 1vw;
    align-items: center;
}
#nav-1 a{
    padding: 10px 20px;
    border: 1px solid #C1BCB6;
    color: rgba(0, 0, 0, 0.786);
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    z-index: 9;
    transition: all ease 0.3s;
}
#nav-1 a::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000;
    left: 0;
    border-radius: 50px;
    bottom: -100%;
    transition: all ease 0.3s;
}
#nav-1 a:hover::after{
    bottom: 0;
    border-radius: 0;
    color: #EFEAE3;
    z-index: -1;
}
#nav-1 a:hover{
    color: #EFEAE3;
}

/*Main Part CSS*/
#main-part{
    height: 90vh;
    width: 100%;
    display: flex;
    padding: 2vw;
    border-bottom: 2px solid #BFBBB6;
    background-color: #EFEAE3;
}
#left{
    height: 100%;
    width: 100%;
    /* background-color: rgba(139, 216, 100, 0.607); */
}
#left h4{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    font-size: 2.0vw;
    width: 29vw;
    line-height: 4.2vh;
    font-family: neu;
    /* background-color: rgba(139, 216, 100, 0.607); */
}
#right{
    height: 100%;
    width: 100%;
    /* background-color: rgba(111, 202, 214, 0.607); */
}
#right h1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    font-size: 11.6vw;
    /* letter-spacing: 0vw; */
    line-height: 21vh;
    font-family: neu;

    /* background-color: rgba(111, 202, 214, 0.607); */
}
#part2{
    height: 100%;
    width: 100%;
    background-color: rgb(220, 140, 140);
}